@media all and (max-width: 480px) {
  .card {
    width: 100%;
    height: auto;
    margin: 15px 20px;
    transition: margin-bottom .3s, transform .3s, width .3s, height .3s !important;
  }

  #footer {
    position: static !important;
    margin-top: 30px;
  }

  #hyderite-card, #jip-card, #tca-card {
    padding-bottom: 110px;
    position: static;
  }

  #team-body {
    display: block !important;
  }

  #h-gradient, #j-gradient, #t-gradient {
    width: 85% !important;
  }

  .gradient-arrow {
    transform: rotate(90deg) translateX(10px) !important;
  }

  #h-extended-socials, #j-extended-socials, #t-extended-socials {
    /* flex-direction: column; */
  }

  .about-me-extended-txt {
    overflow-y: scroll;
  }

  #t-wrapper-extended {
    margin-top: -10px;
  }

  #t-extended-title {
    font-size: 35px !important;
  }
}

@media all and (min-width: 480px) {
  .card {
    width: 150px;
    height: 300px;
  }
  
  #jip-card {
    transform: rotate(-15deg) translate(-215px, -30px);
  }

  #jip-card:hover {
    transform: rotate(-20deg) translate(-215px, -70px);
    z-index: 10;
  }

  #tca-card {
    transform: rotate(15deg) translate(215px, -30px);
  }

  #t-wrapper-extended {
    margin-top: 15px;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  } to {
    transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  from {
    transform: rotate(0);
  } to {
    transform: rotate(360deg);
  }
}

@-o-keyframes rotate {
  from {
    transform: rotate(0);
  } to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  from {
    transform: rotate(0);
  } to {
    transform: rotate(360deg);
  }
}

#black-filter {
  z-index: -1;
  width: 100%;
  height: 100%;
  position: fixed;
  margin: 0;
  padding: 0;
  background-color: #000;
  opacity: 0;
  transition: opacity .3s;
  transform: translateY(-20px);
}

#team-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 80vh;
}

.name {
  font-weight: bold;
  font-size: 30px;
  font-family: "Inter", "Readex Pro", sans-serif;
  margin: 0;
  text-align: center;
}

.card {
  position: absolute;
  background-color: #262626;
  border-radius: 25px;
  border: #454545 1px solid;
  box-shadow: -1px -3px 40px -9px #2e2e2e;
  -webkit-box-shadow: -1px -3px 40px -9px #2e2e2e;
  -moz-box-shadow: -1px -3px 40px -9px #2e2e2e;
  padding: 50px;
  transition: transform .3s, width .3s, height .3s;
}

#jip-pfp, #tca-pfp {
  width: 70px;
  aspect-ratio: 1;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
}

#hyderite-pfp {
  width: 70px;
  aspect-ratio: 1;
  display: block;
  margin-left: auto;
  margin-right: auto;
  animation: rotate 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-delay: .75s;
}

#hyderite-card, #jip-card, #tca-card {
  z-index: 1;
}

#h-wrapper, #j-wrapper, #t-wrapper {
  transition: opacity .3s;
}

#h-wrapper {
  z-index: 100;
}

#h-extended-title, #j-extended-title, #t-extended-title {
  opacity: 0;
  transform: translateY(15px);
  transition: opacity .3s, transform .3s;
}

#h-extended-title::after, #j-extended-title::after, #t-extended-title::after {
  display: none;
}

#h-extended-pfp, #j-extended-pfp, #t-extended-pfp {
  width: 100px;
  aspect-ratio: 1;
  margin-bottom: 15px;
  opacity: 0;
  transform: translateY(15px);
  transition: opacity .3s, transform .3s;
}

.about-me-extended-txt {
  background-color: #1b1b1b;
  padding: 15px;
  border-radius: 15px;
  display: block;
}

.close {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: none;
  color: #fff;
  cursor: pointer;
  background: none;
  transition: background-color .3s, transform .3s, opacity .3s;
  position: absolute;
  right: 20px;
  top: 20px;
}

.close:hover {
  background-color: #606060;
}

.close:active {
  background-color: #6e6e6e;
}

#j-wrapper, #t-wrapper {
  z-index: 10;
}

#j-wrapper-extended, #h-wrapper-extended, #t-wrapper-extended {
  display: none;
  opacity: 0;
  transition: opacity .3s;
  margin-top: -10px;
}

#h-gradient, #j-gradient, #t-gradient {
  position: absolute;
  width: 250px;
  height: 400px;
  background: linear-gradient(180deg, rgba(255,255,255,0) 72%, rgba(38,38,38,1) 100%);
  z-index: 10;
  margin: -50px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: end;
}

.gradient-arrow {
  transform: rotate(90deg) translateX(-5px);
}

#j-wrapper-extended .card-socials, #h-wrapper-extended .card-socials, #t-wrapper-extended .card-socials {
  justify-content: left;
  margin-left: -10px;
  margin-top: 8px;
  opacity: 0;
  transform: translateY(15px);
  transition: opacity .3s, transform .3s;
}

#h-extended-about, #t-extended-about, #j-extended-about {
  text-align: left;
  margin: 0;
  transform: none;
  margin-top: 25px;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity .3s, transform .3s;
}

#h-extended-socials-title, #t-extended-socials-title, #j-extended-socials-title {
  text-align: left;
  text-transform: uppercase;
  font-family: 'Inter', 'Readex Pro', sans-serif;
  font-size: 13px;
  margin-top: 15px;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity .3s, transform .3s;
}

.card-socials {
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  height: 5px;
  margin-top: 10px;
  z-index: 10;
  position: relative;
}

.card-socials svg, .website {
  width: 35px;
  transform: translateY(-10px);
}

.website {
  text-decoration: none;
  color: #fff;
  padding-left: 5px;
  padding-top: 2.5px;
  transform: filter .3s;
}

.website:active {
  color: #fff;
}

.website:visited {
  color: #fff;
}

.website:hover {
  filter: brightness(0.5);
}

#discord {
  transform: translateX(2.5px);
}

#discord:hover {
  fill: #5865F2;
}

#twitch:hover {
  fill: #9146FF;
}

#twitch svg {
  transform: scale(0.9) translateY(-15px);
}

.card-socials a {
  margin: 2.5px;
  transition: .5s;
  fill: #fff;
}

.about-me-preview {
  transform: translateY(60px);
  margin: 0 -15px;
  text-align: center;
  z-index: 1;
}

#footer {
  position: absolute;
  top: 98vh;
}
